 <!Doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>CreatePost</title>
</head>
<header th:replace="layout::logged-in"></header>
<body>
<div>
    <h2><i>post here </i> </h2>
</div>
<form th:method="post" th:action="@{/posts/CreatePost}">
    <div>
        <label for="title">title</label>
        <input type="text" id="title" name="title"/> </div>
    <div>
        <label for="description"> Description</label> </div>
    <div>
        <textarea rows="7" col="50" id="description" name="body"></textarea>
    </div>
    <div>

        <input type="checkbox" name="SpringBlog" value="Spring Blog"/>SpringBlog
        <label>Java Blog</label>
        <input type="checkbox" name="JavaBlog" value="Java Blog"/>JavaBlog
    </div>
    <div> <input type="submit" value="create"> </div>
</form>
</body>
</html>